<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ path '/css/admin.css' }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Preview</title>
</head>
<body>

{{{ yield }}}

<script type="text/javascript" src="{{ path '/js/menu.js' }}"></script>
<script type="text/javascript" src="{{ path '/js/sixteen.form.js' }}"></script>
<script type="text/javascript" src="{{ path '/js/sixteen.tabs.js' }}"></script>
</body>
</html>
