<div class="content__sidebar">
    <form action="" class="form--animate">
        <fieldset>
            <div class="form__legend sidebar-title">
                Filter
                <button type="button" class="btn btn--link btn--small toggle-sidebar">
                    <i class="fa fa-times"></i>
                </button>
            </div>

            {{!-- Section --}}
            <div class="filter-section">
                <div class="form__legend filter-section__title">
                    Title 1
                    <button type="button" class="btn btn--link btn--small filter-section__expand">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                </div>
                <fieldset class="filter-section__content">
                    <div class="form__row">
                        {{ render '@text' }}
                    </div>
                    <div class="form__row">
                        {{ render '@select' }}
                    </div>
                </fieldset>
            </div>

            {{!-- Section --}}
            <div class="filter-section filter-section--open">
                <div class="form__legend filter-section__title">
                    Title 2
                    <button type="button" class="btn btn--link btn--small filter-section__expand">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                </div>
                <fieldset class="filter-section__content">
                    <div class="form__row">
                        {{ render '@text' }}
                    </div>
                    <div class="form__row">
                        {{ render '@select' }}
                    </div>
                </fieldset>
            </div>

            {{!-- Section --}}
            <div class="filter-section">
                <div class="form__legend filter-section__title">
                    Title 3
                    <button type="button" class="btn btn--link btn--small filter-section__expand">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                </div>
                <fieldset class="filter-section__content">
                    <div class="form__row">
                        {{ render '@radio--label-less' }}
                    </div>
                </fieldset>
            </div>

            {{!-- Section --}}
            <div class="filter-section">
                <div class="form__legend filter-section__title">
                    Title 4
                    <button type="button" class="btn btn--link btn--small filter-section__expand">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                </div>
                <fieldset class="filter-section__content">
                    <div class="form__row">
                        {{ render '@text' }}
                    </div>
                    <div class="form__row">
                        {{ render '@select' }}
                    </div>
                    <div class="form__row">
                        {{ render '@select' }}
                    </div>
                    <div class="form__row">
                        {{ render '@select' }}
                    </div>
                    <div class="form__row">
                        {{ render '@select' }}
                    </div>
                </fieldset>
            </div>

        </fieldset>
    </form>
</div>



