<form>
    <div class="form__group{{form_group_class}}">
        <label class="form__label">{{label}}</label>
        <div class="form__control form__control--radio-btn">
            <input type="radio" name="marketing_1" id="marketing-1-yes">
            <label for="marketing-1-yes">Send me marketing offers</label>
        </div>
        <div class="form__help">{{help}}</div>
    </div>
    <div class="form__group">
        <label class="form__label">{{label}}</label>
        <div class="form__control form__control--radio-btn">
            <input type="radio" name="marketing_2" id="marketing-2-yes">
            <label for="marketing-2-yes">Send me marketing offers</label>
            <input type="radio" name="marketing_2" id="marketing-2-all">
            <label for="marketing-2-all">Send me marketing offers from you and your partners</label>
        </div>
        <div class="form__help">{{help}}</div>
    </div>
    <div class="form__group">
        <label class="form__label">{{label}}</label>
        <div class="form__control form__control--radio-btn">
            <input type="radio" name="marketing_3" id="marketing-3-yes">
            <label for="marketing-3-yes">Send me marketing offers</label>
            <input type="radio" name="marketing_3" id="marketing-3-all">
            <label for="marketing-3-all">Send me marketing offers from you and your partners</label>
            <input type="radio" name="marketing_3" id="marketing-3-no">
            <label for="marketing-3-no">Please never contact me again</label>
        </div>
        <div class="form__help">{{help}}</div>
    </div>
    <div class="form__group">
        <label class="form__label">{{label}}</label>
        <div class="form__control form__control--radio-btn">
            <input type="radio" name="marketing_4" id="marketing-4-yes">
            <label for="marketing-4-yes">Send me marketing offers</label>
            <input type="radio" name="marketing_4" id="marketing-4-all">
            <label for="marketing-4-all">Send me marketing offers from you and your partners</label>
            <input type="radio" name="marketing_4" id="marketing-4-no">
            <label for="marketing-4-no">Please never contact me again</label>
            <input type="radio" name="marketing_4" id="marketing-4-dontknow">
            <label for="marketing-4-dontknow">I don't know</label>
        </div>
        <div class="form__help">{{help}}</div>
    </div>
</form>
