<menu class="layout__menu menu">
    {{!-- Header --}}
    <header class="menu__header menu-header">
        <img src="{{{ adminLogo }}}" class="menu-header__logo" alt="{{ adminTitle }}">
        <div class="menu__item menu__item--open menu-item">
            <a href="#" class="menu-item__link" title="View navigation" aria-label="View navigation">
                <i class="fas fa-bars"></i>
            </a>
        </div>
        <a class="menu-item__link hidden-mobile hidden-tablet" href="#" title="Dashboard" aria-label="Dashboard">
            <i class="fas fa-tachometer-alt"></i>
        </a>
    </header>

    {{!-- Container --}}
    <ul class="menu__container">
        <li class="menu__item menu__item--close menu-item">
            <a class="menu-item__link" href="#" title="Close" aria-label="close">
                <i class="fa fa-times"></i>
            </a>
        </li>
        <li class="menu__item menu-item hidden-laptop hidden-desktop">
            <a class="menu-item__link" href="#" title="Dashboard" aria-label="Dashboard">
                <span class="menu-item__link-icon">
                    <i class="fas fa-tachometer-alt"></i>
                </span>
                <span class="menu-item__link-text">Dashboard</span>
            </a>
        </li>

        {{#each categories}}
            <li>
                <div class="
                    menu__category
                    menu-category
                    {{#if open}}
                        menu-category--open
                    {{/if}}
                    ">
                    <button type="button" class="menu-category__toggle" title="{{ title }}" aria-label="{{ title }}">
                        <span class="menu-category__summary-icon">
                            <i class="{{ icon }}"></i>
                        </span>
                        <span class="menu-category__close-icon">
                            <i class="fas fa-angle-down"></i>
                        </span>
                        <span class="menu-category__title">
                            {{ title }}
                        </span>
                        <span class="menu-category__subtitle">
                            {{ subtitle }}
                        </span>
                    </button>
                    <ul class="menu-category__list">
                        {{#each links}}
                            <li class="menu__item menu-item">
                                <a class="menu-item__link" href="{{ link }}" title="{{ text }}">
                                    <span class="menu-item__link-icon">
                                        <i class="{{ icon }}"></i>
                                    </span>
                                    <span class="menu-item__link-text">{{ text }}</span>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div></div>
            </li>
        {{/each}}

        {{#each links}}
            <li class="menu__item menu-item">
                <a class="menu-item__link" href="{{ link }}" title="{{ text }}">
                    <span class="menu-item__link-icon">
                        <i class="fa fa-{{ icon }}"></i>
                    </span>
                    <span class="menu-item__link-text">{{ text }}</span>
                </a>
            </li>
        {{/each}}
    </ul>

    {{!-- Footer --}}
    <footer class="menu__footer menu-footer">
        <div class="menu-footer__text">
            Powered by <a href="https://cotidia.com/" target="_blank" title="Go to cotidia.com">Cotidia</a>
        </div>
        <ul class="menu-footer__list">
            <li class="menu__item menu__item--sidebar-expand">
                <a class="menu-item__link" href="#" title="Expand menu">
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li class="menu__item menu__item--sidebar-collapse">
                <a class="menu-item__link" href="#" title="Collapse menu">
                    <i class="fas fa-angle-left"></i>
                </a>
            </li>
        </ul>
    </footer>
</menu>


<script type="text/javascript">
    (function() {
        function showMenu(menu) {
            menu.querySelector('.menu__container').classList.add('menu__container--mobile-active')
        }

        function hideMenu(menu) {
            menu.querySelector('.menu__container').classList.remove('menu__container--mobile-active')
        }
        // For each instance of .menu
        function initMenu() {
            var menus = document.querySelectorAll('.menu')
            console.log(menus)
            for (i = 0; i < menus.length; i++) {
                var menu = menus[i]
                console.log(menu)

                menuOpenButton = menu.querySelector('.menu__item--open a')
                console.log('open button',menuOpenButton)
                menuOpenButton.addEventListener('touchend', showMenu.bind(null, menu))
                menuOpenButton.addEventListener('click', showMenu.bind(null, menu))
                menuCloseButton = menu.querySelector('.menu__item--close a')
                console.log('close button',menuCloseButton)

                menuCloseButton.addEventListener('touchend', hideMenu.bind(null, menu))
                menuCloseButton.addEventListener('click', hideMenu.bind(null, menu))
            }
        }

        function documentReady() {
            return (document.readyState === 'interactive' || document.readyState === 'complete')
        }

        function bootstrap() {
            document.removeEventListener('readystatechange', bootstrap)
            initMenu()
        }
        // Initialize our menu if the document is ready, otherwise listen to its
        // ready state and bootstrap it when ready
        if (documentReady()) {
            bootstrap()
        } else {
            document.addEventListener('readystatechange', bootstrap)
        }
    })()
</script>
