<menu class="layout__menu menu">
    {{!-- Header --}}
    <header class="menu__header menu-header">
        <img src="{{{ adminLogo }}}" class="menu-header__logo" alt="{{ adminTitle }}">
        <a class="menu-item__link" href="#" title="Dashboard" aria-label="Dashboard">
            <i class="fas fa-tachometer-alt"></i>
        </a>
    </header>

    {{!-- Container --}}
    <ul class="menu__container">
        <li class="menu__item menu__item--close menu-item">
            <a class="menu-item__link" href="#" title="Close" aria-label="close">
                <i class="fa fa-close"></i>
            </a>
        </li>

        {{#each categories}}
            <li>
                <div class="
                    menu__category
                    menu-category
                    {{#if open}}
                        menu-category--open
                    {{/if}}
                    ">
                    <button type="button" class="menu-category__toggle" title="{{ title }}" aria-label="{{ title }}">
                        <span class="menu-category__summary-icon">
                            <i class="{{ icon }}"></i>
                        </span>
                        <span class="menu-category__close-icon">
                            <i class="fa fa-angle-down"></i>
                        </span>
                        <span class="menu-category__title">
                            {{ title }}
                        </span>
                        <span class="menu-category__subtitle">
                            {{ subtitle }}
                        </span>
                    </button>
                    <ul class="menu-category__list">
                        {{#each links}}
                            <li class="menu__item menu-item">
                                <a class="menu-item__link" href="{{ link }}" title="{{ text }}">
                                    <span class="menu-item__link-icon">
                                        <i class="{{ icon }}"></i>
                                    </span>
                                    <span class="menu-item__link-text">{{ text }}</span>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div></div>
            </li>
        {{/each}}

        {{#each links}}
            <li class="menu__item menu-item">
                <a class="menu-item__link" href="{{ link }}" title="{{ text }}">
                    <span class="menu-item__link-icon">
                        <i class="fa fa-{{ icon }}"></i>
                    </span>
                    <span class="menu-item__link-text">{{ text }}</span>
                </a>
            </li>
        {{/each}}
    </ul>

    {{!-- Footer --}}
    <footer class="menu__footer menu-footer">
        <div class="menu-footer__text">
            Powered by <a href="https://cotidia.com/" target="_blank" title="Go to cotidia.com">Cotidia</a>
        </div>
        <ul class="menu-footer__list">
            <li class="menu__item menu__item--sidebar-expand">
                <a class="menu-item__link" href="#" title="Expand menu">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
            <li class="menu__item menu__item--sidebar-collapse">
                <a class="menu-item__link" href="#" title="Collapse menu">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        </ul>
    </footer>
</menu>
