<div class="form__group{{form_group_class}}">
    <label class="form__label">{{label}}</label>
    <div class="form__control form__control--input">
        <input type="{{type}}" name="first_name" placeholder="{{placeholder}}"{{input_attributes}}>
    </div>
    <div class="form__help">{{help}}</div>
</div>
