<div class="form__group{{form_group_class}}">
    <label class="form__label">{{label}}</label>
    <div class="form__control form__control--input form__control--input-addon">
        <input type="{{type}}" name="first_name" placeholder="{{placeholder}}"{{input_attributes}}>
        <div class="input-addon input-addon--prefix">
            <span class="fa fa-clock-o"></span>
        </div>
    </div>
    <div class="form__help">{{help}}</div>
</div>

<div class="form__group{{form_group_class}}">
    <label class="form__label">{{label}}</label>
    <div class="form__control form__control--input form__control--input-addon">
        <input type="{{type}}" name="first_name" placeholder="{{placeholder}}"{{input_attributes}}>
        <div class="input-addon input-addon--prefix">
            $
        </div>
    </div>
    <div class="form__help">{{help}}</div>
</div>
